{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h1>Available Rooms</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Rate</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        <td>{{ room.room_number }}</td>
        <td>{{ room.room_type }}</td>
        <td>{{ room.rate }}</td>
        <td>{{ room.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}